extends layout

block content
  .container
    h1 Energy Trading via Blockchain
    | (using Smart Contracts)
    br
    br
    br
    p.pull-left
      a(href='https://github.com/anders94/blockchain-demo') powered by a fork of anders94/blockchain-demo
