extends layout

block content
  .container
    h1 Smart Contracts
    br
    img(src='/images/solidity_code.png', alt='Solidity code')
    p.
      Deployed Example:
      https://ropsten.etherscan.io/address/0xb751cd95bb4c9b7d639a73c493d9560b4679207d
    p.
      Live Demo (if I have time): https://remix.ethereum.org/
    br
    br
    br
    h2 Trading flow
    img(src='/images/purchase_flow.png', alt='Purchase Flow')
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br


    h2 Microgird Example
    br
    img(src='/images/microgrid.png', alt='Micro Grid')

    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
