extends layout

block content
  .container
    h1 Advantages
    br
    ul
      li less energy loss than in centralised long-distance transmission and
      | distribution energy systems.
      li higher fault tolerance.
      li safe, transparent and self-regulated trading system.
      li plug-and-play.

    h2 Disadvantages
    br
    ul
      li Super complex if not in a smart-house microgrid setup.



    br
    br
    br
    p Papers:
      ol
        li https://www.frontiersin.org/articles/10.3389/fenrg.2021.671133/full
        li https://ieeexplore.ieee.org/document/8463317
